.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 12px;
}
.add-product {
  width: 100%;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}
.add-product:hover {
  background-color: #007bff;
}

.add-product-form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#add-product-dialog h2 {
  text-align: center;
}

#add-product-form form {
  display: flex;
  flex-direction: column;
}

#add-product-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#add-product-form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#add-product-form button:hover {
  background-color: #007bff;
}

/* Style for the dialog box */
dialog {
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Overlay */
}

menu {
  display: flex;
  justify-content: flex-end;
}

menu button {
  margin-left: 10px;
}
